/* shared structured section  */

.section-title{
    font-size: 48px;
    font-weight: 700;
}
.description{
    font-size: 18px;
    font-weight: 400;
}

/*start header section styles */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.navbar .header-title{
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}
.navbar .header-title .nav-title{
    color: #ff42a5;
}

.nav-right-part{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.nav-right-part p{
    margin-right: 30px;
}
.nav-right-part a{
    text-decoration: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
     
}

/* styles banner section  */

.banner-section{
    display: flex;
    padding-right: 130px;
    align-items: center;
}
.banner-section img{
    width: 100%;
}












 